<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webmyne.kidscrown" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".helper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".ui.MyDrawerActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".ui.CrownActivity"
            android:label="@string/title_activity_crown"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".ui.RefillActivity"
            android:label="@string/title_activity_refill"
            android:screenOrientation="landscape" >
        </activity>
        <!--<activity
            android:name=".ui.DemoCrownActivity"
            android:label="@string/title_activity_demo_crown"
            android:screenOrientation="landscape" >
        </activity>-->
        <activity
            android:name=".ui.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".ui.CartActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_cart"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".ui.GalleryActivity"
            android:label="@string/title_activity_gallery">
        </activity>

        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="sensorPortrait">
        </activity>

        <activity
            android:name=".ui.ShippingDetailsActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_shipping_details"
            android:screenOrientation="sensorPortrait">
        </activity>

        <activity
            android:name=".ui.ConfirmOrderActivity"
            android:label="@string/title_activity_confirm_activty"
            android:screenOrientation="sensorPortrait">
        </activity>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider1459806660978042"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



    </application>

</manifest>
